body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100vh;
    position: fixed;
    background: #4d88aa;
    color: #f1f1f1;
    padding-top: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 80px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    width: 100%;
}

nav ul li a:hover {
    background-color: #3b6a8a;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    margin-left: 200px;
    height: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #4d88aa;
    margin-bottom: 20px;
}

h2 {
    color: #4d88aa;
    margin-bottom: 20px;
}

p {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

ul li strong {
    color: #4d88aa;
}