<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/doctor.css">
    <link rel="icon" type="image/x-icon" href="/css/favicon.ico">
    <title>Szczegóły wizyty</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/logo.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/doctor/home}">Panel główny</a></li>
            <li><a th:href="@{/doctor/choose-specializations}">Moje specializacje</a></li>
            <li><a th:href="@{/logout}">Wyloguj się</a></li>
        </ul>
    </nav>
</header>

    <div class="main-content">
        <div class="container">
            <div class="form-container">
    <form th:action="@{/doctor/appointment-doctor-view/{id}(id=${appointment.id})}" method="post">

        <div>
            <label>Klinika: </label>
            <span th:text="${appointment.clinic.name + ' ul. '
                + appointment.clinic.street + ' '
                + appointment.clinic.buildingNumber}"></span>
        </div>
        <br>

        <div>
            <label>Pacjent: </label>
            <span th:text="${appointment.patient.getUsername()}"></span>
        </div>
        <br>

        <div>
            <label>Data: </label>
            <span th:text="${appointment.date}"></span>
        </div>
        <br>

        <div>
            <label>Godzina: </label>
            <span th:text="${appointment.time}"></span>
        </div>
        <br>

        <div>
            <label>Komentarz pacjenta: </label>
            <span th:text="${appointment.comment}"></span>
        </div>
        <br>

        <div>
            <label>Status wizyty: </label>
            <span th:text="${appointment.status.getStatus()}"></span>
        </div>
        <br>

        <label for="appointmentStatus">Status:</label>
        <select id="appointmentStatus" name="appointmentStatus" required>
            <option value="" disabled selected>Zmień status</option>
            <option th:each="status : ${statuses}"
                    th:value="${status.name()}"
                    th:text="${status.getStatus()}">Status
            </option>
        </select><br>

        <label for="reasonForChange">(Opcjonalnie) Komentarz do zmiany statusu: </label>
        <input id="reasonForChange" type="text" name="reasonForChange"><br>

        <button type="submit">Zatwierdź</button>

    </form>
    <br>

    <form th:action="@{/doctor/home}" method="get">
        <button type="submit">Wróć</button>
    </form>
        </div>
    </div>
</div>

</body>
</html>
