<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wybór Kliniki</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h2>Wybierz klinikę</h2>

<form th:action="@{/appointment/choose-clinic}" th:object="${appointment}" method="post">
    <label for="clinicId">Klinika:</label>
    <select id="clinicId" name="clinicId" required>
        <option value="" disabled selected>Wybierz klinikę</option>
        <option th:each="clinic : ${clinics}"
                th:value="${clinic.id}"
                th:text="${clinic.name}">Klinika
        </option>
    </select>

    <button type="submit">Dalej</button>
</form>

<form th:action="@{/patient/home}" method="get">
    <button type="submit">Wróć</button>
</form>

</body>
</html>
