<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h2>Kliniki, w których pracujesz</h2><br>

<div th:each="clinic : ${clinicsEmployed}">
    <div>
        <div th:text="${clinic.name}"></div>
        <a th:href="@{/doctor/clinic-employee-view/{id}(id=${clinic.id})}">Szczegóły</a>
    </div>
</div>
<br>

<form th:action="@{/doctor/home}" method="get">
    <button type="submit">Wróć</button>
</form>

</body>
</html>