<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel lekarza</title>
</head>
<body>
<h1>Panel lekarza</h1>

<form th:action="@{/doctor/owned-clinics}" method="get">
    <button type="submit">Moje Kliniki</button>
</form>
<br>

<form th:action="@{/doctor/clinics-employed}" method="get">
    <button type="submit">Kliniki, w których pracuję</button>
</form>
<br>

<form th:action="@{/clinic/add}" method="get">
    <button type="submit">Zarejestruj nową klinikę</button>
</form>
<br>

<form th:action="@{/doctor/pending-appointments}" method="get">
    <button type="submit">Wizyty oczekujące na zatwierdzenie</button>
</form>
<br>

<form th:action="@{/doctor/pending-invitations}" method="get">
    <button type="submit">Kliniki zapraszające do współpracy</button>
</form>
<br>

<h1>Plan wizyt: </h1>
<div th:each="scheduledAppointment : ${scheduledAppointments}">
    <a th:href="'https://www.google.com/maps/dir/?api=1&origin=My+Location&destination=' + ${scheduledAppointment.getClinic().street} + ',' + ${scheduledAppointment.getClinic().getBuildingNumber()}">
        Pokaż trasę do kliniki
    </a>

    <div th:text="${scheduledAppointment.clinic.getName() + ' ul. '
     + scheduledAppointment.getClinic().street + ' '
      + scheduledAppointment.getClinic().getBuildingNumber()}">
    </div>

    <div th:text="${scheduledAppointment.date + ' godz. ' + scheduledAppointment.time}"></div>
    <div th:text="${scheduledAppointment.comment}"></div>

    <a th:href="@{/doctor/appointment-doctor-view/{id}(id=${scheduledAppointment.id})}">Zmień status</a>
</div><br>

<form th:action="@{/logout}" method="post">
    <button type="submit">Wyloguj się</button>
</form>
<br>

</body>
</html>