
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/patient.css">
    <link rel="icon" type="image/x-icon" href="/css/favicon.ico">
    <title>Wizyty oczekujące na zatwierdzenie</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/logo.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
<div class="main-content">
    <div class="container">
        <h1>Oczekujące wizyty</h1>
        <div class="form-container">
            <div th:each="pendingAppointment : ${pendingAppointments}">
                <div>
                    <div th:text="${pendingAppointment.clinic.name}"></div>
                    <div th:text="${pendingAppointment.status.getStatus()}"></div>
                    <a th:href="@{/doctor/appointment-doctor-view/{id}(id=${pendingAppointment.id})}">Zmień status</a>
                </div>
            </div>
            <br>
            <form th:action="@{/doctor/home}" method="get">
                <button type="submit">Wróć</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
