<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/wizyta.css">
    <link rel="icon" type="image/x-icon" href="/css/favicon.ico">
    <title>Twoje specjalizacje</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/logo.png" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/doctor/home}">Panel główny</a></li>
            <li><a th:href="@{/doctor/choose-specializations}">Moje specializacje</a></li>
            <li><a th:href="@{/logout}">Wyloguj się</a></li>
        </ul>
    </nav>
</header>
<div class="main-content">
    <div class="container">

        <div class="form-container">
<form method="post">
    <h2>Wybierz swoje specjalizacje:</h2>
    <select th:field="*{doctor.specializations}" multiple>
        <option th:each="specialization : ${specializations}"
                th:value="${specialization}"
                th:text="${specialization.name}"
                th:checked="${doctor.specializations.contains(specialization)}">
        </option>
    </select>
    <br>

    <button type="submit">Zapisz</button>
</form><br>

<form th:action="@{/doctor/home}" method="get">
    <button type="submit">Wróć</button>
</form>
</div>
</div>
</div>
</body>
</html>