<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/wizyta.css">
  <link rel="icon" type="image/x-icon" href="/css/favicon.ico">
  <title>Szczegóły Kliniki</title>
</head>
<body>
<header>
  <div class="logo">
    <img src="/img/logo.png" alt="Logo">
  </div>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
<div class="main-content">
  <div class="container">

    <div class="form-container">
<div>
  <form th:action="@{/doctor/invitation-doctor-view/{id}(id=${invitation.id})}" method="post">

    <div>
      <label>Zaproszenie:</label>
      <span th:text="'Zostałeś zaproszony do ' + ${invitation.clinic.name} + ' dnia ' + ${invitation.date} + ' o godzinie ' + ${invitation.time}"></span>
    </div>
    <br>

    <label for="invitationStatus">Status:</label>
    <select id="invitationStatus" name="invitationStatus" required>
      <option value="" disabled selected>Wybierz opcje</option>
      <option th:each="status : ${statuses}"
              th:value="${status.name()}"
              th:text="${status.getStatus()}">Status
      </option>
    </select><br>

    <button type="submit">Zatwierdź</button>

  </form>
  <br>

  <form th:action="@{/doctor/home}" method="get">
    <button type="submit">Wróć</button>
  </form>
</div>
    </div>
  </div>
</div>
</body>
</html>
