<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="icon" type="image/x-icon" href="/css/favicon.ico">
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/logo.png" alt="Logo">
    </div>
</header>
<div class="main-content">
<div class="container">
    <h1>Logowanie</h1>
    <form th:action="@{/login}" method="post">
        <div id="logowanie">
            <label for="username">Nazwa użytkownika</label>
            <input th:type="text" id="username" th:name="username" required/>
        </div>
        <div>
            <label for="password">Hasło</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <div class="error-message" th:if="${error}" th:text="${error}"></div>
        <div>
            <button type="submit">Zaloguj się</button>
        </div>
        <div>
            <label>Nie posiadasz konta?</label>
            <button type="button" onclick="window.location.href='/register'">Zarejestruj się teraz</button>
        </div>
    </form>
</div>
</div>
</body>
</html>