<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">

    <title>Authentication</title>
</head>
<body>
<div class="container">
    <h1>Logowanie</h1>
    <div th:if="${error}" th:text="${error}"></div>
    <form th:action="@{/login}" method="post">
        <div id="logowanie">
            <label for="username">Nazwa użytkownika:</label>
            <input th:type="text" id="username" th:name="username" required/>
        </div>
        <br>
        <div>
            <label for="password">Hasło</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <br>
        <div>
            <button type="submit">Zaloguj się</button>
        </div>
        <br>
        <div>
            <label>Nie posiadasz konta?</label>
            <button onclick="window.location.href='@{/register}'">Zarejestruj się teraz</button>
        </div>
    </form>
</div>
</body>
</html>