<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 th:text="'Witaj, ' + ${name}"></h1>

<form th:action="@{/patient/all-appointments}" method="get">
    <button type="submit">Moje wizyty</button>
</form>
<br>

<form th:action="@{/appointment/choose-clinic}" method="get">
    <button type="submit">Zapisz się na wizytę</button>
</form>
<br>

<form th:action="@{/logout}" method="post">
    <button type="submit">Wyloguj się</button>
</form>
<br>

</body>
</html>