<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twoje wizyty</title>
</head>
<body>

<h1>Twoje wizyty</h1>
<div th:each="scheduledAppointment : ${scheduledAppointments}">
    <div>
        <div th:text="${scheduledAppointment.doctor.username}"></div>
        <div th:text="${scheduledAppointment.clinic.name}"></div>
        <div th:text="${scheduledAppointment.status.getStatus()}"></div>
        <a th:href="@{/clinic/update/{id}(id=${scheduledAppointment.id})}">Szczegóły</a>

        <form method="post" th:action="@{/appointment/delete}">
            <input type="hidden" name="id" th:value="${scheduledAppointment.id}">
            <input type="submit" value="Odwołaj">
        </form>
    </div>
</div><br>

<h1>Oczekujące wizyty</h1>
<div th:each="pendingAppointment : ${pendingAppointments}">
    <div>
        <div th:text="${pendingAppointment.doctor.username}"></div>
        <div th:text="${pendingAppointment.clinic.name}"></div>
        <div th:text="${pendingAppointment.status.getStatus()}"></div>
        <a th:href="@{/appointment/patient-view/{id}(id=${pendingAppointment.id})}">Szczegóły</a>

        <form method="post" th:action="@{/appointment/delete}">
            <input type="hidden" name="id" th:value="${pendingAppointment.id}">
            <input type="submit" value="Odwołaj">
        </form>
    </div>
</div><br>

<h1>Pozostałe wizyty</h1>
<div th:each="otherAppointment : ${otherAppointments}">
    <div>
        <div th:text="${otherAppointment.doctor.username}"></div>
        <div th:text="${otherAppointment.clinic.name}"></div>
        <div th:text="${otherAppointment.status.getStatus()}"></div>
        <a th:href="@{/clinic/update/{id}(id=${otherAppointment.id})}">Szczegóły</a>
    </div>
</div><br>

</body>
</html>